.title span {
  color: #ff5d5d;
}

.title p {
  font-size: 0.8em;
}

.title a {
  text-decoration: underline;
}

/* =============section nav============== */

.nav {
  font-weight: 500;
}

.nav nav {
  display: flex;
  gap: 10px;
}
.nav a {
  border: 1px solid black;
  border-radius: 15px;
  height: 70px;
  flex: 1;
}
.nav a:hover {
  background-color: black;
  color: white;
}

.custom-link {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 0.8em;
  line-height: 1.2em;
}

.custom-link i {
  font-size: 1.2em;
}

.custom-link .logo-next {
  font-size: 2em;
  position: relative;
  top: -9px;
}

/* =============section pictures============== */

.pictures {
  display: flex;
  gap: 2px;
}
.picture-1 {
  width: 60%;
  height: 436px;
  position: relative;
}
.picture-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.picture-1 button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}

.picture-1 button:hover {
  color: rgba(255, 255, 255, 0.5);
}

.picture-1::after {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  cursor: pointer;
}

.picture-1:hover::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.pictures-aside {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.picture-2 {
  background-image: url("../img/Caption 8.jpg");
  background-size: cover;
  flex: 1;
}

.picture-3 {
  background-image: url("../img/Caption 9.jpg");
  background-size: cover;
  flex: 1;
}

.picture-2:hover,
.picture-3:hover {
  cursor: pointer;
  opacity: 0.7;
}
/* =============section article============== */

.article nav {
  font-size: 0.8em;
  margin-bottom: 3em;
}

.article span {
  margin: 0 0.5em;
}

.article nav a:hover {
  color: #ff5d5d;
  text-decoration: underline;
}

.article p {
  line-height: 1.2em;
  font-size: 1.2em;
}

.article > div {
  display: flex;
  justify-content: space-between;
}

.article > div article {
  width: 40%;
}
.cta {
  width: 40%;
  border-radius: 15px;
  overflow: hidden;
}

.cta > div {
  background-color: #ff5d5d;
  padding: 1.5em;
}
.cta p:first-child {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.3em;
}

.cta p {
  margin-bottom: 1em;
}

.cta button {
  padding: 1.5em;
}
.cta-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.cta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* =============section unmissable============== */

.entertainment {
  display: flex;
  height: 320px;
  gap: 10px;
  margin-bottom: 2em;
}

.to-eat {
  display: flex;
  height: 320px;
  gap: 10px;
}

.unmissable-first-div {
  flex: 1;
  font-size: 1.1em;
  line-height: 1.2em;
  padding-right: 1.5em;
}
.unmissable-first-div p {
  margin-bottom: 1em;
}

.unmissable-first-div a {
  text-decoration: underline;
  color: grey;
}

.thumbnails-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex: 3;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.thumbnail {
  width: 32%;
  flex-shrink: 0;
}
.thumbnail:hover {
  cursor: pointer;
}

.thumbnail-picture {
  width: 100%;
  height: 200px;
  position: relative;
}

.thumbnail-picture::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}

.thumbnail:hover .thumbnail-picture::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.thumbnail:hover h4 {
  text-decoration: underline;
}
.thumbnail-picture img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.white-circle {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: white;
  padding: 5%;
  border-radius: 50%;
  font-size: 1em;
  z-index: 2;
}
.travelers-choice {
  width: 27%;
  position: absolute;
  bottom: 3%;
  left: 4%;
  z-index: 2;
}

/* =============traveler's guide============== */

.travelers-guide-thumbnails {
  display: flex;
  gap: 2%;
}

.thumbnails-2 {
  flex: 1;
}
.thumbnails-2 div:first-of-type {
  width: 100%;
  height: 300px;
}
.visits-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.signature {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
}

.signature img {
  width: 35px;
  height: 35px;
  margin-right: 1em;
}
